h2:hover{
    background-color: gray;
    transition: 0.7s;
}
#user{
    margin-left: 50vw;
    width: 400px;
    border: 5px solid red;
    border-radius: 25px;
    padding: 10px;
}

#data{
    margin-left: 5%;
    float: left;
    border: 5px solid blue;
    padding: 10px;
}
body{
    background-color: rgba(0,0,0,20%);
}